  <div>
    <table>
      <caption>Liste des Devis</caption>
      <thead>
        <tr>
          <th rowspan="2">ID</th>
          <th rowspan="2">Projet</th>
          <th colspan="3">Informations Personnelles</th>
          <th colspan="3">Information Projet</th>
          <th rowspan="2">Action</th>
        </tr>
        <tr>
          <th>Nom</th>
          <th>Prenom</th>
          <th>Email</th>
          <th>Description</th>
          <th>Deadline</th>
          <th>Budget</th>
        </tr>
      </thead>

      <tbody>
        <% for (var i = 0; i < devis.length; i++) { %>
          <tr>
            <td><%= devis[i].id %></td>
            <td><%= devis[i].infos_projet.project_type %></td>
            <td><%= devis[i].infos_perso.nom %></td>
            <td><%= devis[i].infos_perso.prenom %></td>
            <td><%= devis[i].infos_perso.email %></td>
            <td><%= devis[i].infos_projet.project_description %></td>
            <td><%= devis[i].infos_projet.deadline %></td>
            <td><%= devis[i].infos_projet.budget %></td>
            <td>
              <a href="/">Voir</a>
              <a href="/">Editer</a>
              <a href="/">Supprimer</a>
            </td>
          </tr>
        <% } %>
      </tbody>
    </table>
  </div>
